body {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #333;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: transparent;
    padding: 10px 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    text-align: center;
    position: fixed;
    top: 0;
    left: -80px;
}

.container {
    margin-top: 70px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
}

.boton-enlace {
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #FFA500;
    color: #fff;
    margin: 0 10px;
}

body {
    background-image: url('../assets/images/fondo.png'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.boton-enlace:hover {
    background-color: #FFD700;
    border-color: #FFD700;
}

.card {
    border: none;
}

.card-body {
    text-align: center;
}

h3.text-black-60 {
    font-size: 80px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    margin-bottom: 20px;
    position: absolute;
    top: -5%;
    left: 20%;
    transform: translate(-50%, -50%);
}

h2.text-orange-50 {
    font-size: 24px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #FFA500;
    font-weight: bold;
    margin-bottom: 20px;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

img {
    width: 200px;
    height: 200px;
    margin: 20px 0;
}

.boton-about {
    margin-top: 20px;
}

form {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #FFA500;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #FFD700;
}



.social-button img {
    width: 50px; 
    height: 50px; 
    
}